body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2E2E2E;
}

#sidebar {
  position: fixed;
  top: 0;
  right: -70%;
  width: 70%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.3s ease;
  display: none;
  z-index: 1000;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  padding: 10px;
}

#sidebar.active {
  right: 0; /* Slide into view */
  display: block; /* Make visible */
}

#close-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px; /* Space between button and content */
}

#close-btn:hover {
  background-color: #cc0000;
}

#sidebar-content {
  flex-grow: 1; /* Takes remaining space for content */
  padding: 10px;
}

#sidebar ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

#sidebar ul li {
  margin-bottom: 10px; /* Optional: Add space between items */
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(123, 24, 40);
  padding: 10px;
  top: 0;
  left: 0;
  position: fixed; /* Fixes the navbar to the top */
  width: 100%; /* Makes the navbar span the full width of the screen */
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav li {
  margin: 0 15px;
}
nav a {
  text-decoration: none;
  color: black;
}

svg {
  margin-top: 50px; /* Adjust to ensure SVG does not overlap with navbar */
}