<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neet MIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <nav>
        <ul>
            <li><a href="/">Roadmap</a></li>
            <li><a href="/about">About Us</a></li>
            {% if session["access_token"] %}
                <li><a href="/logout">Sign Out</a></li>
            {% else %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/signin';">
                      Sign in with Google
                    </button>
                </li>
            {% endif %}
        </ul>
    </nav>
</head>
<body>
    <p>
        Learn CS the right way!
    </p>

    <p>
        CS is a huge field, and you might find yourself stuck if you wish to learn it all at the same time. There are a lot of "courses" that claim to teach you stuff for some quick profit. The best universities have already democratized CS education. The lectures, homework projects are available for free. Here you can get University level knowledge without actually going to university.
    </p>

    <p>
        "In which order should I take those courses? are they even good courses?" This is where we help you really. The ordering is well put together and indicates all the prerequisite knowledge for courses. Lecture material is fine - even Tony Stark had to go to MIT at some point :)
    </p>

    <p>
        This "road map" consists of core courses from top universities. They are mainly taken from MIT's required courses for their Computer Science Bachelor degree curriculum. Some courses are from Stanford, as their teaching faculty is also amazing. Those include algorithms and mathematical theory behind CS and systems courses, which teach you how computers work in general.
    </p>

    <p>
        The mission of traditional CS degree is to give you general understanding of concepts that you will later encounter in real life. Even the best CS universities assume 0 knowledge of coding and they really start from the first principles. So, if you just follow this road map you the whole experience should be manageable even if you are not some genius prodigy! There are some people who have done the similar self-study programs without actually going to uni: check out Scott Young...
    </p>

    <p>
        The arrows indicate the prerequisite knowledge. There are four courses without prerequisite knowledge, but some of them still assume high-school math skills. If you are a complete beginner start with Intro to CS. Else if you have some knowledge just dive into whatever you find interesting. By the end of the road you should have the knowledge comparable to a top uni CS graduate.
    </p>

</body>
</html>
