<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neet MIT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <nav">
        <ul>
            <li><a href="/">Roadmap</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/mentions">Honorable Mentions</a></li>
            {% if session["access_token"] %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/logout';">
                      Sign out
                    </button>
                </li>
            {% else %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/signin';">
                      Sign in with Google
                    </button>
                </li>
            {% endif %}
        </ul>
    </nav>
</head>
<body>
<div id="about-content">
    <h2>
        Learn CS the right way!
    </h2>

    <p>
        Want to learn algorithms, mathematical, theory behind computer systems without going through profit-seeking, overhyped courses? The best universities have already democratized CS education. We just created a roadmap that guides you, so you do not get lost in the diversity of CS subjects. Here you can get University level knowledge without actually going to university.
    </p>

    <p>
        "In which order should I take those courses? are they even good courses?" Here, the ordering is well put together and indicates all the prerequisite knowledge for courses. Lecture material is fine, they are core subjects in MIT - remember, even Tony Stark had to go to MIT at some point :)
    </p>

    <p>
        This "road map" consists of core courses from top universities. They are mainly taken from MIT's required courses for their Computer Science Bachelor degree curriculum. Some courses are from Stanford, as their teaching faculty is also amazing. Those include algorithms; mathematical theory behind CS; systems courses, which teach you how computers work in general.
    </p>

    <p>
        This road map 0 knowledge of coding and they really start from the first principles. So, if you just follow this road,  the whole experience should be manageable even if you are not some genius prodigy! There are some people who have done the similar self-study programs without actually going to uni: check out <a href="https://www.youtube.com/watch?v=oo-ctqruwRc" target="_blank">Scott Young</a>...
    </p>

    <p>
        The arrows indicate the prerequisite knowledge. You can zoom and pan the road map. You can tap on the subject and check off the lectures that you have studied for. There are four courses without prerequisite knowledge, but some of them still assume high-school math skills. If you are a complete beginner start with Intro to CS. Else if you have some knowledge just dive into whatever you find interesting. By the end of the road you should have the knowledge comparable to a top uni CS graduate.
    </p>
    <p>
        Many thanks to <a href="https://neetcode.io/" target="_blank">neetcode.io</a> for inspiring me for building this project in the same spirit as his.
    </p>
</div>
</body>
</html>
