<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/favicon.ico">
    <title>Road To CS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <nav>
        <ul>
            <li><a href="/">Roadmap</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/mentions">Honorable Mentions</a></li>
            {% if current_user.is_authenticated %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="localStorage.removeItem('lectures');window.location.href='/logout';">
                      Sign out
                    </button>
                </li>
            {% else %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="localStorage.removeItem('lectures');window.location.href='/signin';">
                      Sign in with Google
                    </button>
                </li>
            {% endif %}
        </ul>
    </nav>
</head>
<body>

    <svg style="width: 100%; height: 100%;">
        <g></g>
    </svg>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div id="sidebar">
      <button id="close-btn">esc</button>
      <div id="sidebar-content"></div>
      <h2></h2>
      <ul></ul>
    </div>

</body>
</html>
