<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Road To CS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <nav style="margin-bottom: 20px;">
        <ul>
            <li><a href="/">Roadmap</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/mentions">Honorable Mentions</a></li>
            {% if session["access_token"] %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/logout';">
                      Sign out
                    </button>
                </li>
            {% else %}
                <li>
                    <button type="button" class="login-with-google-btn" onclick="window.location.href='/signin';">
                      Sign in with Google
                    </button>
                </li>
            {% endif %}
        </ul>
    </nav>
</head>
<body>
<div id="about-content">

    <h2>
        Here are more great courses!
    </h2>

    <p>
        Some great courses are not included in the road map because they are not regarded as "core" subjects in universities. However, they are great...
    </p>

    <p>
        Nand to tetris
    </p>

    <p>
        ...
    </p>
</div>

</body>
</html>
